<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto2</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body style="background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <h1 style="text-align: center;color: azure;">Proyecto 2 IPC</h1>

    <br>

    <div class="container">
        <form action="/recibir-xml" method="post" enctype="multipart/form-data"
            style="text-align: center; color: white;">
            {% csrf_token %}
            <input type="file" name="docs" id="docs" multiple />
            <input type="submit" value="Enviar" />
        </form>
    </div>
    <br>

    <h3 style="color: azure; text-align: center;">CSV Cargado</h3>
    <textarea name="output1" id="output" cols="130" rows="15" readonly style="margin-left:15%">
        {{csv}}
    </textarea>
    <br>

    <h3 style="color: azure; text-align: center;">XML Generado</h3>
    <textarea name="output2" id="output" cols="130" rows="15" readonly style="margin-left:15%">
        {{dato}}
    </textarea>
    <br>

    </div>

</body>

</html>